body,
html {
    user-select: none;
    user-drag: none;
}

div {
    margin: 0px;
    padding: 0px;
}

.game-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    min-width: 600px;
    min-height: 450px;
}

@headerHeight: 64px;

.header-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: @headerHeight;
    background-color: #777;
    box-shadow: 0px 0px 22px #111 inset;
}

.body-container {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.stat-bar {
    float: left;
    width: 240px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(70deg, #164, #3ac);
    white-space: nowrap;
}

.shadow {
    box-shadow: 0px 0px 70px #222 inset;
}

.screen {
    position: absolute;
    left: 240px;
    right: 220px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /*white-space: nowrap;*/
}

.options {
    background-color: #445;
    color: white;
}

.version {
    @fontSize: 24px;
    position: absolute;
    top: (@headerHeight - @fontSize) / 2;
    right: 30px;
    font-size: @fontSize;
    font-weight: bold;
    color: white;
    .outlined;
    vertical-align: middle;
}
