.particles {
    display: inline-block;
    pointer-events: none;
}

.particle {
    position: absolute;
    z-index: 10;
}

.damage {
    .outlined;
    font-size: 36px;
    font-weight: bold;
}

.enemy-damage {
    color: #ec2;
}

.enemy-crit {
    font-size: 48px;
    color: #fd1;
}

.player-damage {
    color: red;
}
.heal {
    color: #20f030;
}
.mana {
    color: blue;
}

.reward {
    .outlined;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.reward img.icon {
    height: 32px;
}

@xpColor: #2f3;
@goldColor: #cd3;
@researchColor: #d6f;
@ironColor: #ccc;
@woodColor: #a74;
@skillColor: #bdd;

.xp-reward {
    color: @xpColor;
}
.gold-reward {
    color: @goldColor;
}
.research-reward {
    color: @researchColor;
}
.iron-reward {
    color: @ironColor;
}
.wood-reward {
    color: @woodColor;
}
.skill-reward {
    color: @skillColor;
}