@healthHeight: 20px;
@healthTop: 22px;
@healthBetween: 4px;
@healthBottom: 14px;
@healthTotal: @healthHeight * 2 + @healthTop + @healthBetween + @healthBottom;
.stat-bar {
    .health-background {
        margin: @healthTop auto @healthBetween;
    }
    .mana-background {
        margin: 0px auto @healthBottom;
    }

    @textMargin: 6px;
    .health-background,
    .mana-background {
        width: calc(90% - @textMargin);
        height: @healthHeight;
        padding-right: @textMargin;

        .health-foreground,
        .mana-foreground {
            color: white;
            font-weight: bold;
            padding-left: @textMargin;
            .outlined;
        }
    }
}

@statButtonsHeight: 55%;
#stats {
    @leftMargin: @statWidth / 10;
    margin-left: @leftMargin;
    position: absolute;
    top: @healthTotal;
    bottom: 100% - @statButtonsHeight;
    left: 0px;
    width: @statWidth - @leftMargin;
    .scrolls;
}

#stat-buttons {
    text-align: center;
    position: absolute;
    top: @statButtonsHeight;
    bottom: 0px;
    left: 0px;
    width: @statWidth;
    .scrolls;
}

.statDesc-bonus {
    color: red;
    font-weight: bold;
    .outlined(@blur: 0px);
}
.statDesc-totalBonus {
    color: #0f0;
    font-weight: bold;
    .outlined(@blur: 0px);
}
