.item-bar {
    float: right;
    width: 220px;
    height: 100%;
    background: linear-gradient(-70deg, #813, #d63);
    .scrolls;

    z-index: 1;
}

.item-container,
.attack-container {
    div {
        height: 100%;
        .scrolls;
        text-align: center;
    }

    h3 {
        margin: 0px;
    }
}