.button {
    display: inline-table;
    min-width: 120px;
    min-height: 50px;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin: 2px 0px;
    padding: 3px;
    color: black;
    background-color: #2d6;
    transition: 0.25s;
    box-shadow: 1.5px -1.5px 10px #555 inset;
    z-index: 5;
    cursor: pointer;
}

.button.inactive {
    background-color: #777;
    cursor: auto;
}

.button.selected {
    background-color: #fb4;
}

.button .content {
    display: table-cell;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    pointer-events: none;
}

.button:hover:not(.inactive) {
    background-color: #3fb;
}
.button.selected:hover {
    background-color: #fc9;
}

.button:active:not(.inactive) {
    background-color: #0c5;
    transition: 0.1s;
}

.game-log {
    position: absolute;
    left: 240px;
    right: 220px;
    bottom: 60px;
    z-index: 20;

    text-align: center;
    font-size: 24px;
    pointer-events: none;
}

.stat-bar .button,
.forge-bar .button {
    width: 75%;
}

.shrine .button,
.blacksmith .button {
    vertical-align: middle;
}

.stat-bar .health-background {
    margin: 22px auto 14px;
    width: 90%;
}

#stats {
    margin-left: 10%;
}

#stat-buttons,
.inventory {
    text-align: center;
}

.header-container .button {
    height: 80%;
}

.store .button,
.village .button {
    width: 240px;
}

img.icon {
    vertical-align: middle;
    height: 14px;
}

.stat-bar div img.icon {
    height: 16px;
}

img.xp-icon {
    content: url("../img/XP_text.png");
}
img.gold-icon {
    content: url("../img/Gold_icon.png");
}
img.forge-icon {
    content: url("../img/Goop.png");
}
img.iron-icon {
    content: url("../img/Iron.png");
}

.size-0_85 {
    transform: scale(0.85, 0.85);
}

.size-1_1 {
    transform: scale(1.1, 1.1);
}

.options textarea {
    width: 75%;
    height: 80px;
    vertical-align: middle;
}