body,
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

div {
    margin: 0px;
    padding: 0px;
}

.game-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.header-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    background-color: grey;
}

.body-container {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.stat-bar {
    float: left;
    width: 240px;
    height: 100%;
    padding: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: teal;
    white-space: nowrap;
}

.button {
    display: inline-table;
    border-radius: 10px;
    border: 2px solid black;
    padding: 3px;
    background-color: #2d6;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    box-shadow: 1.5px -1.5px 10px #555 inset;
}

.button span {
    display: table-cell;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.button:hover {
    background-color: #3fb;
}

.button:active {
    background-color: #0c5;
}

.stat-bar .button,
.forge-bar .button {
    width: 95%;
    min-height: 50px;
    height: auto;
}

.field {
    /*float: right;*/
    position: absolute;
    left: 252px;
    right: 220px;
    height: 100%;
    background-color: green;
    overflow: hidden;
    white-space: nowrap;
}

.forge-bar {
    float: right;
    width: 220px;
    height: 100%;
    background-color: darkred;
}

.forge-container {
    width: 220px;
    height: 220px;
}

.forge-hole {
    position: relative;
    z-index: 2;
}

.forge-fill {
    position: absolute;
    right: 55px;
    top: 55px;
    width: 110px;
    height: 110px;
    background-color: #c3f;
    z-index: 1;
}

.item-container {
    position: absolute;
    top: 220px;
    bottom: 0px;
    width: 220px;
}

.item-container div {
    height: 50%;
}

.item-container div div {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-container h3 {
    margin: 0px;
}

.enemy-container {
    position: absolute;
    left: 30px;
    top: 30px;
    text-align: center;
    vertical-align: text-bottom;
    width: 100px;
    pointer-events: none;
}

.enemy-container .name {
    font-weight: bold;
}

.enemy {
    pointer-events: auto;
    -webkit-transition: 0.15s;
    transition: 0.15s;
}

.blur {
    -webkit-filter: blur(2px);
    -webkit-transition: 0.05s;
    transition: 0.05s;
}

.health-foreground {
    background-color: red;
    height: 100%;
    border-radius: 4px;
    box-shadow: 1.5px -1.5px 10px #911 inset;
}

.health-background {
    background-color: darkred;
    margin: 5px auto 5px;
    width: 100%;
    height: 12px;
    box-shadow: -1.5px 1.5px 14px #111 inset;
    border-radius: 4px;
    border: 1px solid black;
}

.stage-progress-background {
    margin: 20px auto 0px;
    width: 80%;
    height: 16px;
    border: 2px solid white;
}

.stage-progress-foreground {
    height: 100%;
    background-color: white;
}

.health-button-holder {
    height: 70px;
}

.health-button {
    -webkit-transition: 0.08s;
    transition: 0.08s;
}

.button img.icon {
    vertical-align: middle;
    height: 14px;
}

.stat-bar div img.icon {
    height: 16px;
}

img.xp-icon {
    content: url("img/XP_text.png");
}

img.gold-icon {
    content: url("img/Gold_icon.png");
}

img.forge-icon {
    content: url("img/Goop.png");
}

.size-0_85 {
    transform: scale(0.85, 0.85);
    -ms-transform: scale(0.85, 0.85);
    -webkit-transform: scale(0.85, 0.85);
}

.size-1_1 {
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.particles {
    display: inline-block;
    pointer-events: none;
}

.particle {
    position: absolute;
    z-index: 5;
}

.damage {
    font-size: 28px;
    font-weight: bold;
}

.enemy-damage {
    color: #e0c030;
}

.player-damage {
    color: red;
}

.heal {
    color: #20f030;
}

.forge-plus {
    color: #df6;
}

.reward {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.reward img.icon {
    height: 32px;
}

.xp-reward {
    color: #4f6;
}

.gold-reward {
    color: #cd3;
}

.forge-reward {
    color: #d6f;
}